$dark: #252323;
$semi-dark: #70798c;
$background: #f5f1ed;
$primary: #a99985;
$secondary: #ce9c41;
$grey-beige: rgb(247, 247, 247);
body {
	background-color: $background;
}
.navbar {
	background-color: $semi-dark;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 1rem 10rem;
	color: $dark;

	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		gap: 20px;

		.link {
			color: $dark;
			text-decoration: none;
			&:hover {
				color: $background;
				cursor: pointer;
			}
			&.active {
				color: $secondary;
				text-decoration: none;
			}
		}
	}
}
.content {
	padding: 5rem 10rem;
	display: flex;
	justify-content: space-between;

	.form-control {
		background-color: $grey-beige;
		padding: 2rem;
	}
	.form {
		display: flex;
		flex-direction: column;
	}
	.cyperTitle {
		padding: 1rem 0;
	}
	.btn {
		background-color: $primary;
		padding: 10px 9px;
		border: none;
		margin-top: 2rem;
		font-weight: 600;
		cursor: pointer;
		&:active {
			background-color: $secondary;
		}
	}
	.input-section {
		display: flex;
		flex-direction: column;
		label {
			font-size: 0.85rem;
		}
		#isDecrypted {
			cursor: pointer;
			filter: grayscale(100%);
		}
		.input {
			border: 0;
			border-bottom: 2px solid $primary;
			border-right: 2px solid $primary;
			box-shadow: 3px 3px rgb(168, 167, 167);
			padding: 3px 3px;
			margin-top: 0.2rem;
			margin-bottom: 1rem;
			width: 200px;
			&:focus {
				outline: none;
			}
			&:checked {
				background-color: $primary;
				fill: $secondary;
			}
			&.error {
				border-color: rgb(165, 28, 28);
				box-shadow: 3px 3px rgb(165, 28, 28);
			}
		}
	}
	.modal {
		width: 200px;
		font-size: 0.8rem;
		background-color: rgb(38, 100, 180);
		color: $background;
		padding: 0.5rem;
		margin-top: 1rem;
	}
	.checkboard {
		margin-top: 2rem;
		th,
		td {
			border: 1px solid $dark;
		}
		table {
			width: 90%;
			border-collapse: collapse;
			text-align: center;
		}
	}
}
.console {
	padding: 1rem 1rem;
	background-color: rgb(216, 213, 206);
	width: 70%;
	height: 400px;
	.console-output {
		background-color: $background;
		width: calc(100% - 4rem);
		height: calc(100% - 2rem);
		padding: 1rem 2rem;
		overflow: scroll;
		overflow-x: hidden;
		&-single {
			width: 100%;
			margin-top: 10px;
			overflow-wrap: break-word;
			p {
				font-size: 0.8rem;
			}
		}
	}
}
